* { padding:  0; margin: 0;}

.wrap {
    background-color: pink;
    width: 100%; height: 100vh;
    overflow-x: auto;
}
.h {
    background-color: yellow;
    width: 100%; height: 14vh;
    display: grid;
    cursor: default;
    grid-template-rows: 55%;
    padding-top: 10px;
    justify-content: center;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(245, 116, 57);
    font-size: 32px;
}
.m {
    display: grid;
    margin-top: 20px;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}
.you {
    max-width: 100vh;
    max-height: 290px;
    border-radius: 5px;
}
p {
    margin-top: 20px;
}